body {
    background-color: #eae8ec
}

a {
    color: #4b162b;
}

p {
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
}

figcaption {
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
    font-size: 0.8em;
}

#header_image {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 5px;
}

    #header_image img {
        max-width: 100%;
        height: auto;
        display: block;
        border-style: solid;
        border-width: 2px;
        border-color: #4b162b;
    }

#menu_button {
    display: none;
}

#menu {
    display: block;
    width: 95%;
    position: relative;
    right: 20px;
    margin-bottom: 50px;
}

    #menu ul {
        list-style: none;
        text-align: center;
        width: 100%;
    }

    #menu li {
        display: inline-block;
        font-size: 1.4em;
    }

    #menu p {
        margin-top: 0;
        padding: 8px;
        color: #4b162b;
    }

        #menu p:hover {
            color: white;
            background-color: #4b162b;
        }



/*---HOMEPAGE---*/

#homepage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homepage_content {
    width: 60%;
    max-width: 800px;
    display: flex;
    align-items: center;
}

#bio {
    width: 40%;
    margin-right: 20%;
    float: left;
}

    #bio p {
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: #4b162b;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #4b162b;
        padding-bottom: 20px;
        padding-top: 20px;
        max-width: 300px;
    }

#profile_image {
    width: 40%;
    float: left;
    vertical-align: middle;
}

    #profile_image img {
        width: 100%;
        max-width: 300px;
        border-style: solid;
        border-width: 2px;
        border-color: #4b162b;
    }

#mobile_profile_image {
    display: none;
}

/*---CONTENT PAGES---*/

.subpage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subpage_content {
    width: 60%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.content_grid_header {
    width: 100%;
    grid-column: span 3;
    font-size: 2em;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #4b162b;
    margin-bottom: 20px;
}

.content_grid_text_left {
    width: 100%;
    grid-column-start: 1;
    margin-bottom: 20px;
}

.content_grid_image_right {
    width: 100%;
    grid-column-start: 3;
    margin-bottom: 20px;
}

    .content_grid_image_right img {
        width: 100%;
        object-fit: cover;
    }

    .content_grid_image_right iframe {
        width: 100%;
        height: 100%;
        min-height: 200px;
    }

.content_grid_text_right {
    width: 100%;
    grid-column-start: 3;
    margin-bottom: 20px;
}

.content_grid_image_left {
    width: 100%;
    grid-column-start: 1;
    margin-bottom: 20px;
}

    .content_grid_image_left img {
        width: 100%;
        object-fit: cover;
        max-height: 600px;
    }

    .content_grid_image_left iframe {
        width: 100%;
        height: 100%;
        min-height: 200px;
    }

.content_grid_replacement_text {
    display: none;
}



/*---CONTACT---*/



/*---MOBILE*/

@media (max-width:600px) {
    #header_image {
        padding: 0;
        border: 0;
        margin: 0;
    }

    #menu_button {
        display: block;
        width: 100%;
        background-color: #4b162b;
        padding-top: 0;
        border-top: 0;
        margin-top: 0;
    }

        #menu_button p {
            text-align: center;
            font-size: 1.5em;
            font-family: 'IBM Plex Sans', serif;
            color: white;
            padding-top: 0;
            border-top: 0;
            margin-top: 0;
        }

    #menu {
        display: none;
    }

        #menu li {
            display: block;
            margin-bottom: 20px;
            font-size: 1.5em;
        }



    /*---HOMEPAGE---*/

    #homepage_content {
        display: inline-block;
        width: 80%;
    }

    #profile_image {
        display: none;
    }

    #mobile_profile_image {
        display: block;
    }

        #mobile_profile_image img {
            width: 100%;
            border-style: solid;
            border-width: 2px;
            border-color: #4b162b;
        }

    #bio {
        width: 100%;
        margin-right: 0%;
        float: none;
    }

        #bio p {
            max-width: none;
            text-align: center;
        }





    /*---MUSIC---*/

    .subpage_content {
        width: 80%;
    }

    .content_grid {
        width: 100%;
        grid-template-columns: 100%;
    }

    .content_grid_header {
        font-size: 1.5em;
    }

    .content_grid_text_left {
        display: none;
    }

    .content_grid_replacement_text {
        display: block;
        grid-column: 1 / -1;
        width: 100%;
        margin-bottom: 20px;
    }

    .content_grid_image_right {
        grid-column-start: 1;
    }

    .content_grid_text_right {
        grid-column-start: 1;
    }

    /*---PODCASTS---*/



    /*---GAMES---*/



    /*---CONTACT---*/



}

/*---HIDE PAGES ON STARTUP---*/
#music_page {
    display: none;
}

#podcasts_page {
    display: none;
}

#games_page {
    display: none;
}

#contact_page {
    display: none;
}
