:root{
    --teal: rgb(10, 187, 167);
    --deepTeal: rgb(0, 42, 51);
    --lightTeal: rgb(209, 255, 207);
    --lowOpacityTeal: rgba(67, 238, 185, 0.5);
}

body{
    background-color: var(--teal);
}

#logo{
    display:block;
    width: 40%;
    margin-left: 30%;
}

nav{
    display: flex;
    justify-content: center;
    align-content: center;
}

.button{
    font-family: 'IBM Plex Sans', serif;
    text-decoration: none;
    color: var(--deepTeal);
    text-align: center;
    font-size: 2em;
    border: 10px solid var(--deepteal);
    border-radius: 5px;
    background-color: var(--lightTeal);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 30px;
}