<link rel="stylesheet" href="css/footer.css">

<footer id="SocialLogos">
    <a class="SocialLogo" href="https://bsky.app/profile/jtrgames.bsky.social" target="_blank" rel="external"><img src="SocialLogos/bluesky.png" alt="bluesky" /></a>
    <a class="SocialLogo" href="https://www.instagram.com/jack_the_robot_games/" target="_blank" rel="external"><img src="SocialLogos/instagram.png" alt="instagram" /></a>
    <a class="SocialLogo" href="https://soundcloud.com/jacktherobot" target="_blank" rel="external"><img src="SocialLogos/soundcloud.png" alt="soundcloud" /></a>
    <a class="SocialLogo" href="https://jacktherobot.bandcamp.com/" target="_blank" rel="external"><img src="SocialLogos/bandcamp.png" alt="bandcamp" /></a>
</footer>